# Database
# for docker:
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# for drizzle orm, update with above values
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres